<%- include("layout/index", tituloweb, tipo); %>

<%- include('layout/header') %>


<div class="row m-2">
  <div class="col text-center">
    <div class="row">
      <div class="col-md-12">
        <!-- Utiliza la clase "justify-content-start" para alinear a la izquierda -->
        <div class="d-flex justify-content-start" style="margin-top: 10px;">
          <a href="/Admin/regmaestro" class="btn" style="margin-bottom: 10px; background-color: #691532; color: #fff;">+ Agregar Maestro</a>
        </div>
      </div>
    </div>
        <!-- Estatus, Nombre, Publico/Privado, Programa educativo, Responsable, contacto -->
        <table class="table table-striped border-secondary table-bordered" style="background-color: white;">
            <thead>
                <tr>
                  <th scope="col">Estatus</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Contacto</th>
                  <th scope="col">Asignado</th>
                  <th scope="col">Detalles</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td scope="row">Activo</td>
                  <td>Monica Sánchez</td>
                  <td>6699159000</td>
                  <td>ISOF 7</td>
                  <td class="text-center">
                    <a href="/Admin/asigsalon" class="btn btn-sm" style="background-color: #6C757D; color: #fff;"">Reasignar</span></a>
                    <a href="/Admin/regmaestro" class="btn btn-sm" style="background-color: #691532; color: #fff;">Editar</a>
                  </td>
                </tr>
                <tr>
                    <td scope="row">Desactivo</td>
                    <td>Jose Carlos Ojeda</td>
                    <td>6698562356</td>
                    <td>Sin Asignar</td>
                    <td class="text-center">
                      <a href="/Admin/asigsalon" class="btn btn-sm" style="background-color: #6C757D; color: #fff;"">Reasignar</span></a>
                      <a href="/Admin/regmaestro" class="btn btn-sm" style="background-color: #691532; color: #fff;">Editar</a>
                    </td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>


  
<%- include("layout/footer"); %> 