<%- include("layout/index", tituloweb, tipo); %>

<%- include('layout/header') %>


<div class="row m-2">
    <div class="col text-center">
          <table class="table table-striped border-secondary table-bordered" style="background-color: white;">
              <thead>
                  <tr>
                    <th scope="col">Solicitud de Inscripcion</th>
                    <th scope="col">Rubrica de Evaluación del Prestador</th>
                    <th scope="col">Plan de Trabajo</th>
                    <th scope="col">1er Reporte Bimestral</th>
                    <th scope="col">2do Reporte Bimestral</th>
                    <th scope="col">3er Reporte Bimestral</th>
                    <th scope="col">Reporte Final</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                    <td scope="row">
                      <a href="" class="btn btn-sm" style="background-color: #691532; color: #fff;">Ver</a>
                      <a href="" class="btn btn-sm" style="background-color: #4cbf22; color: #fff;">Aceptar</a>
                      <a href="" class="btn btn-sm" style="background-color: #d61c1c; color: #fff;">Denegar</a>
                    </td>
                  </tr>
                </tbody>
          </table>
      </div>
  </div>


  
<%- include("layout/footer"); %> 